.text-danger {
  color: #ed3737 !important;
}

.btn-danger {
  background-color: #ed3737 !important;
}
.btn-danger:hover {
  background-color: #d62f2f !important;
}

.bg-light {
  background-color: #ebebeb !important;
}

.card:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease;
}

.icon-xlarge {
  font-size: 3.8rem;
}
